@charset "UTF-8";

*{
    padding: 0PX;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: lightsalmon;
}

main{

    background-color: lightgreen;
}

section{
    background-color: lightseagreen;
}