@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.titulo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: lightcoral;
    flex-flow: row wrap;

}

.titulo ul a{
    text-decoration: none;
    margin: 10px;
    color: white;
}

.titulo ul a:hover{
    cursor: pointer;
    text-decoration:underline;
}



#container {
    border-radius: 5px;
    background-color: rgb(173, 95, 95);
    display: flex;
    align-items: center;
    border: 1px solid black;
    flex-flow: row wrap-reverse;
    gap: 50px;

}


.conteudo {
    /*flex grow vai crescer normalmente  flex shrink vai encolher normalmente e flex basis*/
    flex: 1 1 400px;


}


.imagem img{
    width: 400px;
    border-radius: 10px;
}
.imagem{
    display: block;
    margin: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: end;
    height: 6vh;
    background-color: aqua;

}



@media screen and (max-width:600px) {

    .titulo {
        display: block;
        text-align:center;
    }


    .titulo ul{
    margin-top: 20px;
    text-align: center;
    flex: 1 1 500px;
}

.titulo ul a{
    
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 10px 0px 0px 0px;
}
    
}