@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns:auto auto auto ;
    grid-template-rows: 100px 100px 100px;
    background-color: lightgray;
    align-items: stretch;
    justify-items: stretch ;
    align-content: center;

    gap: 10px;
}

.item{
    background-color: lightcoral;
    border: 1px dashed black;
    margin: 5px;
}