@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    border: 3px solid blue;
    display: grid;
    grid-template-columns: 100px 40% repeat(2, 1fr) ;
    grid-template-rows: repeat(3, 80px);
    grid-auto-rows: 80px;
    grid-auto-columns: 120px;
    grid-auto-flow: row;
    background-color: lightgray;
    place-items: normal normal;
    place-content: normal normal;

    gap: 10px;
}

.item{
    border: 3px solid red;
    padding: 5px;
}


/*aqui vamos ver simplificadores para grid template e align e justify items e content


para grid template
primeiro vem a row(linha) depois a column(coluna)

grid-template: 100px 100px 100px / auto auto auto;

primeiro vem o align items depois o justify
place-items:strech center;

primeiro vem o align content depois o justify
place content: start end;


função repeat

grid-template-columns:repeat(3, auto); substitui o auto auto auto.
grid-template-row:repeat(3, 100px); substitui o 100px 100px 100px

grid-template: repeat(3, 100px) / repeat(3, auto); substitui a função acima simplificando ela



UNIDADE FRACIONAL

da para usar fr no lugar do auto
grid-template-columns: 1fr 1fr 1fr;


se eu quiser uma fração maior q a outra posso fazer assim

sendo a coluna do meio maior q as outras gerando 4 colunas porem uma fr ocupa espaço de 2
grid-template-columns: 1fr 2fr 1fr;

posso misturar unidades tambem ex:

nesse exemplo vou ter 4 colunas 2 com tamanhos diferentes e as 2 fr com tamanhos iguais
grid-template-columns: 100px 20% 1fr 1fr;
*/